{% extends 'eleve/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% get_mathjax as latex %}
<table class="accueil"><tr><td>Agenda</td></tr></table>
<table class="tableausimple">
<tr class="entete">
	<td>Date</td>
	<td>Heure</td>
	<td>Matiere</td>
	<td>Colleur</td>
	<td>Programme</td>
	<td>Salle</td>
</tr>
{% for colle in colles %}
<tr>
	<td>{{colle.jour|date:"l j F"}}</td>
	<td>{{colle.heure|heure}}</td>
	<td style="background-color:{% if colle.jour < jour.weekday %}grey{% else %}{{colle.couleur}}{% endif %}">{{colle.nom_matiere}}</td>
	<td>{{colle.prenom|title}} {{colle.nom|upper}}</td>
	<td>{% if colle.fichier %}<a href="{{media_url}}{{colle.fichier}}">{{colle.titre|title}}</a>{% else %}{% if colle.titre %}{{ colle.titre|title}}{% endif %}{% endif %}{% if colle.detail %}<div class="popup">{% if latex %}{{colle.detail}}{% else %}{{colle.detail|linebreaksbr}}{% endif %}</div>{% endif %}</td>
	<td>{% if colle.salle %}{{colle.salle}}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
{% block javascript %}
{% get_mathjax as latex %}
{% if latex %}
{% include "mathjax.html" %}
{% endif %}
{% endblock %}