{% extends 'eleve/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% include "eleve/navdocuments.html" %}
<table class="accueil"><tr><td>Documents de la classe {{classe}}{% if matiere %} en {{matiere}}{% endif %}</td></tr></table>
<form method="POST">
	{% csrf_token %}
	<table class="tableausimple">
		{{ form.as_table }}
		<tr><td colspan="2"><input type="submit"/></td></tr>
	</table>
</form>
<table class="tableausimple" id="suppr">
	<tr class="entete">
		{% if not matiere %}
		<td>Matière</td>
		{% endif %}
		<td>Nom</td>
		<td>Détails</td>
		<td>Fichier</td>
	</tr>
	{% for doc in docs %}
	<tr>
		{% if not matiere %}
		<td style="background-color:{{cour.matiere.couleur}}">{{doc.matiere.nom|title}}</td>
		{% endif %}
		<td>{{doc.nom}}</td>
		<td>{{doc.detail|linebreaksbr}}</td>
		<td><a href="{{doc.fichier.url}}"><img src="{% static 'images/iconePDF.png' %}" alt="icone pdf"/></a><br>
	</tr>
	{% endfor %}
</table>
{% endblock %}