{% extends 'base.html' %}
{% block nav %}
<div id="nav"> 
	<ul id="menu">
		<li><a href="{% url 'config' %}" title="configuration du site">Configuration</a></li>
		<li><a href="{% url 'gestion_matiere' %}" title="gestion des matières">Matières</a></li>
		<li><a href="{% url 'gestion_classe' %}" title="gestion des classes">Classes</a></li>
		<li><a href="{% url 'gestion_etab' %}" title="gestion des établissements">Établissements</a></li>
		<li><a href="{% url 'gestion_eleve' %}" title="gestion des élèves">Élèves</a></li>
		<li><a href="{% url 'gestion_colleur' %}" title="gestion des colleurs">Colleurs</a></li>
		<li><a href="{% url 'gestion_prof' %}" title="gestion des professeurs des classess">Professeurs</a></li>
		<li><a href="{% url 'gestion_semaine' %}" title="gestion des semaines">Semaines</a></li>
		<li><a href="{% url 'gestion_ferie' %}" title="gestion des jours fériés">Jours fériés</a></li>
	</ul>
</div>
{% endblock %}