{% extends 'administrateur/action.html' %}{% load static %}
{% load static %}
{% load customfilter %}
{% block body %}
	<table class="accueil"><tr><td>Liste des classes</td></tr></table>
	<table class="tableausimple" id="suppr">
		<tr class="entete">
			<td>Nom</td>
			<td>Année</td>
			<td>Matières</td>
			<td>Modifier</td>
			<td>Supprimer</td>
		</tr>
		{% for classe in classes %}
		<tr>
			<td>{{ classe}}</td>
			<td>{{ classe.annee }}<sup>&egrave;{{classe.annee|pluralize:"r,m"}}e</sup></td>
			<td>{% for matiere in classe.matieres.all %}{{ matiere|option:classe }}<br />{% endfor %}</td>
			<td><a class="bouton" href="{% url 'modif_classe' classe.pk %}">Modifier</a></td>
			<td><a class="bouton" href="{% url 'suppr_classe' classe.pk %}">Supprimer</a></td>
		</tr>
		{% endfor %}
	</table>
	<table class="accueil"><tr><td>Ajouter une classe</td></tr></table>
	<form method="post">
	{% csrf_token %}
	{% include 'administrateur/classe_form_gabarit.html' %}
	</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/gabarit.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
{% endblock %}