<tr>
	<th> {{ form.nom.label_tag }} </th>
	<td> {{ form.nom.errors }} {{form.nom}}</td>
	<th> {{ form.prenom.label_tag }} </th>
	<td> {{ form.prenom.errors }} {{form.prenom}}</td>
</tr>
<tr>
	<th> {{ form.motdepasse.label_tag }} </th>
	<td> {{ form.motdepasse.errors }} {{form.motdepasse}}</td>
	<th> {{ form.email.label_tag }} </th>
	<td> {{ form.email.errors }} {{form.email}}</td>
</tr>
<tr>

	<th> {{ form.grade.label_tag }} </th>
	<td> {{ form.grade.errors }} {{form.grade}}</td>
	<th> {{ form.etablissement.label_tag }} </th>
	<td> {{ form.etablissement.errors }} {{form.etablissement}}</td>
</tr>
{% if form.active %}
<tr>
	<th> {{ form.active.label_tag }} </th>
	<td colspan="3"> {{ form.active.errors }} {{form.active}}</td>
</tr>
{% endif %}
<tr>
	<th> {{ form.matiere.label_tag }} </th>
	<td> {{ form.matiere.errors }} {{form.matiere}}</td>
	<th> {{ form.classe.label_tag }} </th>
	<td> {{ form.classe.errors }} {{form.classe}}</td>
</tr>