{% extends 'administrateur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
	<table class="accueil"><tr><td id="titre">Modification de colleurs</td></tr></table>
	<form method="post">
	{% csrf_token %}
	{{ formset.management_form }}
	<table class="tableausimple">
	<tr><td colspan="4">(Mot de passe inchangé si non renseigné)</td></tr>
	{% if formset.non_form_errors %}
	<tr><td colspan="4">{{formset.non_form_errors}}</td></tr>
	{% endif %}
		{% for form,colleur in formset|tzip:formset.chaine_colleurs %}
		<tr><th colspan="4">{{ colleur.user.first_name|title}} {{colleur.user.last_name|upper}}</th></tr>
		{% include "administrateur/colleur_form.html" %}
		{% endfor %}
		<tr><td colspan="4"><input type="submit"/></td></tr>
	</table>
	</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/motdepasse.js' %}"></script>
{% endblock %}