{% extends 'administrateur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
	<table class="accueil"><tr><td>Colleurs</td></tr></table>
	<form method="post">
	{% csrf_token %}
	<table class="tableausimple">
	{{ form.as_table }}
	<tr><td colspan="2"><input type="submit" value="Envoyer" name = "selectmatiere"/></td></tr>
	</table>
	</form>
	<form method="post">
	{% csrf_token %}
	<table class="tableausimple">
	<tr><th colspan="2">Chercher un colleur</th></tr>
	{{ form3.as_table }}
	<tr><td colspan="2"><input type="submit" value="Chercher" name = "chercheuser"/></td></tr>
	</table>
	</form>
	<table class="accueil">
	<tr>
		<td>Liste des colleurs</td>
		<td><a href="{% url 'ajout_colleur' %}">Ajouter des colleurs</a></td>
	</tr>
	</table>
	<form method="post">
	{% csrf_token %}
	<table class="tableausimple" id="suppr">
		<tr class="entete">
			<td>Sélectionner{{form2.colleur.errors}}</td>
			<td>Nom</td>
			<td>Prénom</td>
			<td>Identifiant</td>
			<td>Email</td>
			<td>Actif</td>
			<td>Grade</td>
			<td>Établissement</td>
			<td>Matière(s)</td>
			<td>Classe(s)</td>
			<td>Modifier</td>
			<td>Supprimer</td>
			<td>RGPD</td>
		</tr>
		{% for colleur,widget in colleurs|tzip:form2.colleur %}
		<tr>
			<td>{{widget}}</td>
			<td>{{colleur.nom|upper}}</td>
			<td>{{colleur.prenom|title}}</td>
			<td>{{colleur.identifiant}}</td>
			<td>{{colleur.email}}</td>
			{% if colleur.actif %}<td style="color:green;">✓</td> {% else %}<td style="color:red;">❌</td>{% endif %}
			<td>{{listegrades| lookup:colleur.grade}}</td>
			<td>{% if colleur.etablissement %}{{colleur.etablissement|title}}{% endif %}</td>
			<td>{% if colleur.matieres == None %}{% else %}{{colleur.matieres|safe|title}}{% endif %}</td>
			<td>{% if colleur.classes == None %}{% else %}{{colleur.classes|safe}}{% endif %}</td>
			<td><a class="bouton" href="{% url 'modif_colleur' colleur.id %}">Modifier</a></td>
			<td><a class="bouton" href="{% url 'suppr_colleur' colleur.id %}">Supprimer</a></td>
			<td><a class="bouton" href="{% url 'rgpd_colleur' colleur.id %}">RGPD</a></td>
		</tr>
		{% endfor %}
		<tr class="plusclair">
			<td><label for = "check">Tout cocher</label><br/><input type="checkbox" id="check"/></td>
			<td colspan="7"><input type="submit" value="Supprimer la sélection" name="supprimer"/></td>
			<td colspan="6"><input type="submit" value="Modifier la sélection" name="modifier"/></td>
		</tr>
	</table>
	</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/selection.js' %}"></script>
{% endblock %}