{% extends 'administrateur/action.html' %}
{% load static %}
{% block body %}
<table class="accueil"><tr><td id="titre">Ajout de colleurs</td></tr></table>
	<form method="post" id="formajout">
	{% csrf_token %}
	{{ formset.management_form }}
	<table class="tableausimple" id="ajouttab">
		{% for form in formset %}
		<tr><th colspan="4">Nouveau Colleur</th></tr>
		{% include "administrateur/colleur_form.html" %}
		{% endfor %}
		<tr><td colspan="4"><input type="submit" value="Valider"/> ou <input type="submit" value="ajouter un colleur" id="ajout"/></td></tr>
	</table>
	</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/multiajout.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/motdepasse.js' %}"></script>
{% endblock %}