<tr>
	<th> {{ form.last_name.label_tag }} </th>
	<td> {{ form.last_name.errors }} {{form.last_name}}</td>
	<th> {{ form.first_name.label_tag }} </th>
	<td> {{ form.first_name.errors }} {{form.first_name}}</td>
</tr>
<tr>
	<th>Identifiant</th>
	<td> {{ form.username.errors }} {{form.username}}</td>
	<th> {{ form.password.label_tag }} </th>
	<td> {{ form.password.errors }} {{form.password}}</td>
</tr>
<tr>
	<th> {{ form.email.label_tag }} </th>
	<td> {{ form.email.errors }} {{form.email}}</td>
	<th> {{ form.grade.label_tag }} </th>
	<td> {{ form.grade.errors }} {{form.grade}}</td>
</tr>
<tr>
	<th> {{ form.etablissement.label_tag }} </th>
	<td colspan="3"> {{ form.etablissement.errors }} {{form.etablissement}}</td>
</tr>
{% if form.is_active %}
<tr>
	<th> {{ form.is_active.label_tag }} </th>
	<td colspan="3"> {{ form.is_active.errors }} {{form.is_active}}</td>
</tr>
{% endif %}
<tr>
	<th> {{ form.matiere.label_tag }} </th>
	<td> {{ form.matiere.errors }} {{form.matiere}}</td>
	<th> {{ form.classe.label_tag }} </th>
	<td> {{ form.classe.errors }} {{form.classe}}</td>
</tr>