<tr>
	<th> {{ form.nom.label_tag }} </th>
	<td> {{ form.nom.errors }} {{form.nom}}</td>
	<th> {{ form.prenom.label_tag }} </th>
	<td> {{ form.prenom.errors }} {{form.prenom}}</td>
</tr>
<tr>
	<th> {{ form.motdepasse.label_tag }} </th>
	<td> {{ form.motdepasse.errors }} {{form.motdepasse}}</td>
	<th> {{ form.email.label_tag }} </th>
	<td> {{ form.email.errors }} {{form.email}}</td>
</tr>
<tr>
	<th> {{ form.photo.label_tag }} </th>
	<td> {{ form.photo.errors }} {{form.photo}}</td>
	<th> {{ form.classe.label_tag }} </th>
	<td> {{ form.classe.errors }} {{form.classe}}</td>
</tr>