<tr>
	<th> {{ form.nom.label_tag }} </th>
	<td> {{ form.nom.errors }} {{form.nom}}</td>
	<th> {{ form.prenom.label_tag }} </th>
	<td> {{ form.prenom.errors }} {{form.prenom}}</td>
</tr>
<tr>
	<th> {{ form.motdepasse.label_tag }} </th>
	<td> {{ form.motdepasse.errors }} {{form.motdepasse}}</td>
	<th> {{ form.email.label_tag }} </th>
	<td> {{ form.email.errors }} {{form.email}}</td>
</tr>
<tr>
	<th> {{ form.lv1.label_tag }} </th>
	<td> {{ form.lv1.errors }} {{form.lv1}}</td>
	<th> {{ form.lv2.label_tag }} </th>
	<td> {{ form.lv2.errors }} {{form.lv2}}</td>
</tr>
<tr>
	<th> {{ form.ddn.label_tag }} </th>
	<td> {{ form.ddn.errors }} {{form.ddn}}</td>
	<th> {{ form.ine.label_tag }} </th>
	<td> {{ form.ine.errors }} {{form.ine}}</td>
</tr>
<tr>
	<th> {{ form.photo.label_tag }} </th>
	<td> {{ form.photo.errors }} {{form.photo}}</td>
	<th> {{ form.classe.label_tag }} </th>
	<td> {{ form.classe.errors }} {{form.classe}}</td>
</tr>