{% extends 'base.html' %}
{% load static %}
{% load customfilter %}
{% block nav %}
<div id="nav"> 
	<ul id="menu" style="position: relative;z-index: 10;">
		<li><a href="{% url 'recapitulatif' %}" title="Récapitulatif des heures de colle">Récapitulatif</a></li>
		<li><a href="{% url 'ramassage' %}" title="Ramassage des heures de colle">Ramassage</a></li>
		{% comment %}<li><a href="{% url 'planification' %}" title="Planification du colloscope">Planification</a></li>{% endcomment %}
		<li><a href="{% url 'resultats_secret'%}" title="résultats par classe/matière des élèves">Résultats</a>
		{% get_classes as classes %}
		<li><a href="#" title="Colloscope des élève par classe">Colloscopes</a>
			<ul>
		{% for classe in classes %}
				<li><a href="{% url 'colloscope_secret' classe.pk %}">{{classe.nom}}</a></li>
		{% endfor %}
			</ul>
		</li>
		{% get_modifgroupe as modif %}
		{% if modif %}
		<li><a href="#" title="Gestion des groupes de colle">Groupes</a>
			<ul>
		{% for classe in classes %}
				<li><a href="{% url 'groupe_secret' classe.pk %}">{{classe.nom}}</a></li>
		{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% get_ects as ects %}
		{% if ects %}
		<li><a href="#" title="Gestion des crédits ECTS">Crédits ECTS</a>
			<ul>
		{% for classe in classes %}
				<li><a href="{% url 'secret_ects_credits' classe.pk %}">{{classe.nom}}</a></li>
		{% endfor %}
			</ul>
		</li>
		{% endif %}
	</ul>
</div>
{% endblock %}