{% extends 'secretariat/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% include "secretariat/navplanification.html" %}
	<table class="accueil"><tr><td>Modification du nombre de colles par colleur en {{classe}}</td></tr></table>
	<form method="POST">
	{% csrf_token %}
	{{ formset.management_form }}
	<table class="tableausimple">
	{% for form in formset %}
	<tr>
		<th rowspan="{{form.nbcolleurs}}">{{form.matiere}}</th>
	{% for field in form %}
		<td>{{field.errors}}{{field.label_tag}}{{field}} groupes sur {{form.nbgroupes}}</td></tr>
	{% endfor %}
	{% endfor %}
	<tr><td colspan="2"><input type="submit"/></td></tr>
	</table>
	</form>
{% endblock %}
