{% extends 'secretariat/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% include "secretariat/navects.html" %}
<table class="accueil"><tr><td>Notes ECTS de {{classe}}{{modif}}</td></tr></table>
<table class="tableausimple">
	<tr>
		<td>A: Très Bien</td>
		<td>B: Bien</td>
		<td>C: Assez Bien</td>
		<td>D: Convenable</td>
		<td>E: Passable</td>
		<td>F: Insuffisant (invalide tous les crédits)</td>		
	</tr>
</table>
<table class="tableausimple" id="suppr">
	<tr class="entete">
		<td rowspan="2">Élève</td>
		{% for matiere,nbsem in matieres|tzip:nbsemestres %}
		<td colspan="{{nbsem}}">{{matiere}}</td>
		{% endfor %}
		{% if annee2 %}
		<td rowspan="2">Note Globale sur les 2 ans</td>
		<td rowspan="2">Note Globale sur les 3 ans (redoublants)</td>
		<td rowspan="2">Rappel 1ère annee</td>
		{% else %}
		<td rowspan="2">Note Globale de l'année</td>
		{% endif %}
	</tr>
	<tr class="entete">
	{% for matiere in matieres %}
		{% if matiere.semestre1 != None %}
		<td>Semestre 1</td>
		{% endif %}
		{% if matiere.semestre2 != None %}
		<td>Semestre 2</td>
		{% endif %}
	{% endfor %}	
	</tr>
	{% for notes,eleve in listeNotes|tzip:eleves %}
	<tr>
		<td>{{eleve}}</td>
		{% for note,matiere in notes.0|tzip:matieres %}
		{% if matiere.semestre1 != None %}
		<td>{% if note.note1 != None %}{{listNotes|lookup:note.note1}}{% endif %}</td>
		{% endif %}
		{% if matiere.semestre2 != None %}
		<td>{% if note.note2 != None %}{{listNotes|lookup:note.note2}}{% endif %}</td>
		{% endif %}
		{% endfor %}
		<td>{% if notes.1.note != None %}{{listNotes|lookup:notes.1.note}}{% endif %}</td>
		{% if annee2 %}
		<td>{% if notes.3.note != None %}{{listNotes|lookup:notes.3.note}}{% endif %}</td>
		<td>{% if notes.2.note != None %}{{listNotes|lookup:notes.2.note}}{% endif %}</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% endblock %}