{% extends 'secretariat/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% include "secretariat/navplanification.html" %}
	<table class="accueil"><tr><td>Modifier les fréquences de colle de la classe: {{classe.nom}}</td></tr></table>
	<form method="POST">
	{% csrf_token %}
	<table class="tableausimple">
	<tr class="entete">
		<td>Matière</td>
		<td>Fréquence</td>
		<td>Regroupement sur une semaine</td>
	</tr>
		{% for field in form %}
		{% cycle '<tr><th>' '' %}{% cycle field.label_tag '' %} {% cycle '</th>' ''%}
			<td>{{field}}</td>
		{% cycle '' '</tr>' %}
		{% endfor %}
		<tr><td colspan="3"><input type="submit"/></td></tr>
	</table>
	</form>
	<table class="accueil"><tr><td><a href="{% url 'frequence' %}">Annuler</a></td></tr></table>
{% endblock %}
