{% extends 'secretariat/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
<table class="accueil"><tr><td>Effectuer un ramassage</td></tr></table>
<form method="post">
	<table class="tableausimple">
{% csrf_token %}
	{{ form.as_table }}
	<tr><td colspan="2"><input type="submit"/></td></tr>
</table>
</form>
<table class="accueil"><tr><td>Ramassages effectués</td></tr></table>
<table class="tableausimple" id="suppr">
	<tr class="entete">
		<td>De</td>
		<td>à</td>
		<td>Supprimer</td>
		<td>PDF par année/effectif</td>
		<td>PDF par classe</td>
		<td>PDF par classe avec totaux</td>
		<td>CSV par année/effectif</td>
		<td>CSV par classe</td>
		<td>CSV par classe avec totaux</td>
	</tr>
	{% for ramassage in ramassages %}
	<tr>
		<td>{{ramassage.moisDebut|date:"E Y"}}</td>
		<td>{{ramassage.moisFin|date:"E Y"}}</td>
		<td><a href="{% url 'ramassagesuppr' ramassage.pk %}">Supprimer</a></td>
		<td><a href="{% url 'ramassagepdf' ramassage.pk %}"><img src="{% static 'images/iconePDF.png' %}"></img></a></td>
		<td><a href="{% url 'ramassagepdfparclasse' ramassage.pk 0 %}"><img src="{% static 'images/iconePDF.png' %}"></img></a></td>
		<td><a href="{% url 'ramassagepdfparclasse' ramassage.pk 1 %}"><img src="{% static 'images/iconePDF.png' %}"></img></a></td>
		<td><a href="{% url 'ramassagecsv' ramassage.pk %}"><img src="{% static 'images/csv.png' %}"></img></a></td>
		<td><a href="{% url 'ramassagecsvparclasse' ramassage.pk 0 %}"><img src="{% static 'images/csv.png' %}"></img></a></td>
		<td><a href="{% url 'ramassagecsvparclasse' ramassage.pk 1 %}"><img src="{% static 'images/csv.png' %}"></img></a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
{% endblock %}