{% extends 'base.html' %}
{% load static %}
{% load customfilter %}
{% block body %}

<table class="accueil"><tr><td>Nouveau message</td></tr></table>
{% if form.non_field_errors %}
<div class="error">{{form.non_field_errors}}</div>
{% endif %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.media}}
	<table class="tableausimple">
		<tr >
			<th rowspan="{{form.rowspan}}">Destinataires</th>
			{% if form.adminsecret == 1 %}
			<td colspan="{{form.colspan}}">{{form.touscolleurs.label_tag}} {{form.touscolleurs}}  &nbsp;{{form.tousprofs.label_tag}}  {{form.tousprofs}} &nbsp; {{form.touseleves.label_tag}} {{form.touseleves}} </td>
		</tr>
			{% elif form.admin %}
			<td colspan="{{form.colspan}}"> {{form.admin.label_tag}} {{form.admin}}&nbsp;{{form.secret.label_tag}}  {{form.secret}} </td>
		</tr>
			{% endif %}
			{% for classe, prof, profs, colleur, colleurs, groupe, groupes, groupeS1, groupesS1, groupeS2, groupesS2, eleve, eleves in form.champs %}
			<td {% if forloop.last and form.reste %} colspan="2" {% endif %}>
			<b>Classe de {{classe.nom}}</b><br/><br/>
			{% with prof as formprof %}
				{% if formprof %}
				<div>{{ formprof.errors}}
				{{ formprof }} <b>{{formprof.label_tag}}</b></div>
				{{ profs.errors}}
				{{ profs}}
				{% endif %}
			{% endwith %}
			{% if colleurs %}
			<div>{{ colleur.errors }}
			{{ colleur }} <b>{{colleur.label_tag}}</b></div>
			<div id="id_divmatiere_{{classe.pk}}">
			{% for matiere,colleur in colleurs %}
			<div>{{ matiere.errors}}
			{{ matiere }} {{matiere.label_tag}}</div>
			{{ colleur.errors }}
			{{ colleur }}
			{% endfor %}
			</div>
			{% endif %}
			{% if classe.semestres == True %}
			<div>{{ groupeS1.errors}}
			{{ groupeS1 }} <b>{{groupeS1.label_tag}}</b></div>
			{{ groupesS1.errors }}
			{{ groupesS1 }}
			<div>{{ groupeS2.errors}}
			{{ groupeS2 }} <b>{{groupeS2.label_tag}}</b></div>
			{{ groupesS2.errors }}
			{{ groupesS2 }}
			{% else %}
			<div>{{ groupe.errors}}
			{{ groupe }} <b>{{groupe.label_tag}}</b></div>
			{{ groupes.errors }}
			{{ groupes }}
			{% endif %}
			<div>{{ eleve.errors}}
			{{ eleve }} <b>{{eleve.label_tag}}</b></div>
			{{ eleves.errors }}
			{{ eleves }}
			</td> {% if not forloop.last %}{% cycle '' "</tr><tr>" %}{% endif %}
			{% endfor %}
		</tr>
		<tr>
			<th>{{form.titre.label_tag}}</th>
			<td colspan="{{form.colspan}}">{{form.titre.errors}}{{form.titre}}</td>
		</tr>
		<tr>
			<th>{{form.corps.label_tag}}</th>
			<td colspan="{{form.colspan}}">{{form.corps.errors}}{{form.corps}}</td>
		</tr>
		<tr>
			<th>{{form.pj.label_tag}}</th>
			<td colspan="{{form.colspan}}">{{form.pj.errors}}{{form.pj}}</td>
		</tr>
		<tr>
			<td colspan="{{form.colspansubmit}}"><input type="submit" , value="Envoyer" /></td>
		</tr>
	</table>
</form>

<table class="accueil"><tr><td><a href="{% url 'messages' %}">Retour</a></td></tr></table>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/ecrire.js' %}"></script>
{% endblock %}