{% extends 'base.html' %}
{% block nav %}
<div id="nav"> 
	<ul id="menu">
		<li><a href="{% url 'login_eleve' %}" title="consulter le(s) programme(s) de colle ou ses notes de colle">Élève</a></li>
		<li><a href="{% url 'login_colleur' %}" title="entrer les notes de colle ou le programme de colle">Colleur</a></li>
		<li><a href="{% url 'login_secret' %}" title ="décompte des heures des colleurs" >Secrétariat</a></li>
		{% if show_admin %}
		<li><a href="{% url 'login_admin' %}" title="gérer les bases de données colleurs/élèves">Administrateur</a></li>
		{% endif %}
	</ul>
</div>
{% endblock %}