{% extends 'base.html' %}
{% load customfilter %}
{% load static %}
{% block body %}
<table class="accueil">
	<tr>
		<td>Liste des message envoyé</td>
		<td><a href="{% url 'accueil.views.messages' %}">Messages reçus</a></td>
	</tr>
</table>

{% if nonvide %}
<form method="post">
	{% csrf_token %}
	<table class="tableausimple" id="suppr">
	<tr class="entete">
		<td>Sélectionner{{form.message.errors}}</td>
		<td>Lire</td>
		<td>date</td>
		<td>Destinataires</td>
		<td>sujet</td>
	</tr>
	{% for mesage,widget in form.fields.message.queryset|tzip:form.message %}
	<tr>
		<td>{{widget}}</td>
		<td><a href="{% url 'accueil.views.messageenvoye' mesage.pk %}">Lire</a></td>
		<td>{{mesage.date|date:"D d M Y à H:i:s"}}</td>
		<td>{{mesage.listedestinataires|truncatechars:200}}</td>
		<td>{{mesage.titre}}</td>
	</tr>
	{% endfor %}
	<tr class="plusclair">
		<td><label for = "check">Tout cocher</label><br/><input type="checkbox" id="check"/></td>
		<td colspan="4"><input type="submit" value="Supprimer la sélection" name="supprimer"/></td>
	</tr>
{% else %}
	<div class="error">Aucun message envoyé</div>
{% endif %}

</table>
</form>
<table class="accueil"><tr><td><a href="{% url 'accueil.views.home' %}">Retour</a></td></tr></table>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/selection.js' %}"></script>
{% endblock %}