{% extends 'base.html' %}
{% load customfilter %}
{% block body %}

<table class="tableausimple">
	<tr>
		<th>Message de: </td>
		<td>{{mesage.message.auteur}}</td>
	</tr>
	<tr>
		<th>Envoyé le: </td>
		<td>{{mesage.message.date|date:"D d M Y à H:i:s"}}</td>
	</tr>
	<tr>
		<th>À destination de: </td>
		<td><div class="scroll">{{mesage.message.listedestinataires}}</div></td>
	</tr>
	<tr>
		<th>lu par: </td>
		<td><div class="scroll">{{mesage.message.luPar}}</div></td>
	</tr>
	<tr>
		<th>Sujet: </td>
		<td>{{mesage.message.titre}}</td>
	</tr>
	<tr>
		<th>Corps du message:</td>
		<td>
			<div class="bigscroll">{{mesage.message.corps|linebreaksbr}}</div>
		</td>
	</tr>
</table>
{% if repondre %}
<table class="accueil"><tr><td><a href="{% url 'repondre' mesage.pk %}">Répondre</a></td></tr></table>
{% endif %}
<table class="accueil"><tr><td><a href="{% url 'messages' %}">Retour</a></td></tr></table>
{% endblock %}