{% extends 'base.html' %}
{% load customfilter %}
{% block body %}

<table class="tableausimple">
	<tr>
		<th>Envoyé le:</td>
		<td>{{mesage.date|date:"D d M Y à H:i:s"}}</td>
	</tr>
	<tr>
		<th>À destination de: </td>
		<td><div class="scroll">{{mesage.listedestinataires}}</div></td>
	</tr>
	<tr>
		<th>lu par: </td>
		<td><div class="scroll">{{mesage.luPar}}</div></td>
	</tr>
	<tr>
		<th>Sujet: </td>
		<td>{{mesage.titre}}</td>
	</tr>
	<tr>
		<th>Corps du message:</td>
		<td>
			<div class="bigscroll">{{mesage.corps|linebreaksbr}}</div>
		</td>
	</tr>
</table>
<table class="accueil"><tr><td><a href="{% url 'messagesenvoyes' %}">Retour</a></td></tr></table>
{% endblock %}