{% extends 'base.html' %}
{% load customfilter %}
{% load static %}
{% block body %}
<table class="accueil">
	<tr>
		<td>Liste des messages reçus</td>
		<td><a href="{% url 'messagesenvoyes' %}">Messages envoyés</a></td>
		{% if not user.eleve %}
			<td><a href="{% url 'ecrire' %}">Écrire un message</a></td>
		{% endif %}
	</tr>
</table>

{% if nonvide %}
<form method="post">
	{% csrf_token %}
	<table class="tableausimple" id="suppr">
	<tr class="entete">
		<td>Sélectionner{{form.message.errors}}</td>
		<td>Lire</td>
		<td>date</td>
		<td>lu</td>
		<td>auteur</td>
		<td>Destinataires</td>
		<td>sujet</td>
	</tr>
	{% for mesage,widget in form.fields.message.queryset|tzip:form.message %}
	{% with mesage.lu as lu %}
	<tr>
		<td>{{widget}}</td>
		<td><a href="{% url 'message' mesage.pk %}">Lire</a></td>
		<td>{% if not lu %}<b>{% endif %}{{mesage.message.date|date:"D d M Y à H:i:s"}}{% if not lu %}</b>{% endif %}</td>
		<td>{% if not lu %} ✓ {% endif %}</td>
		<td>{% if not lu %}<b>{% endif %} {{mesage.message.auteur}} {% if not lu %}</b>{% endif %}</td>
		<td>{% if not lu %}<b>{% endif %} {{mesage.message.listedestinataires|truncatechars:200}} {% if not lu %}</b>{% endif %}</td>
		<td>{% if not lu %}<b>{% endif %} {{mesage.message.titre}} {% if not lu %}</b>{% endif %}</td>
	</tr>
	{% endwith %}
	{% endfor %}
	<tr class="plusclair">
		<td><label for = "check">Tout cocher</label><br/><input type="checkbox" id="check"/></td>
		<td colspan="6"><input type="submit" value="Supprimer la sélection" name="supprimer"/></td>
	</tr>
{% else %}
	<div class="error">Aucun message reçu</div>
{% endif %}

</table>
</form>
<table class="accueil"><tr><td><a href="{% url 'accueil' %}">Retour</a></td></tr></table>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/selection.js' %}"></script>
{% endblock %}