{% extends 'base.html' %}
{% load static %}
{% block body %}

<table class="accueil"><tr><td>Nouveau message</td></tr></table>
{% if form.non_field_errors %}
<div class="error">{{form.non_field_errors}}</div>
{% endif %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<table class="tableausimple">
		<tr>
			<th>{{form.destinataire.label_tag}}</th>
			<td>{{form.destinataire.errors}}{{form.destinataire}}</td>
		<tr>
			<th>{{form.titre.label_tag}}</th>
			<td>{{form.titre.errors}}{{form.titre}}</td>
		</tr>
		<tr>
			<th>{{form.corps.label_tag}}</th>
			<td>{{form.corps.errors}}{{form.corps}}</td>
		</tr>
		<tr>
			<th>{{form.pj.label_tag}}</th>
			<td>{{form.pj.errors}}{{form.pj}}</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" , value="Envoyer" /></td>
		</tr>
	</table>
</form>

<table class="accueil"><tr><td><a href="{% url 'message' message.pk %}">Retour</a></td></tr></table>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/ecrire.js' %}"></script>
{% endblock %}