{% extends user.colleur|yesno:'colleur/action.html,secretariat/action.html' %}
{% load static %}
{% block body %}
	<table class="accueil"><tr><td>Modification d'un groupe de {{classe}}</td></tr></table>
	<form method="POST">
	{% csrf_token %}
	<table class="tableausimple">
		<input type="hidden" id="hide" value="{{hide}}"></input>
		{% include "mixte/groupe_form.html" %}
		<tr><td colspan="4"><input type="submit"/></td></tr>
	</table>
	</form>
	<table class="accueil"><tr><td><a href="{% url user.colleur|yesno:'groupe_colleur,groupe_secret' classe.pk %}">Annuler</a></td></tr></table>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/groupe2langue.js' %}"></script>
{% endblock %}