{% extends user.colleur|yesno:'colleur/action.html,secretariat/action.html' %}
{% load static %}
{% block body %}
	<table class="accueil"><tr><td>Modification d'un groupe de {{groupe.classe}}</td></tr></table>
	<form method="POST">
	{% csrf_token %}
	<table class="tableausimple">
		<input type="hidden" id="hide" value="{{hide}}"></input>
		{{ form.as_table }}
		<tr><td colspan="2"><input type="submit"/></td></tr>
	</table>
	</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/groupelangue.js' %}"></script>
{% endblock %}