{% extends 'base.html' %}
{% load static %}
{% load customfilter %}
{% block nav %}
<div id="nav"> 
	<ul id="menu" style="position: relative;z-index: 10;">
		<li><a href="#">Notes</a>
			<ul>
		{% for classe in user.colleur.classes.all %}
			{% if request.session.matiere in classe.matierespk %}
				<li><a href="{% url 'note_colleur' classe.pk %}">{{classe.nom}}</a></li>
			{% endif %}
		{% endfor %}
			</ul>
		</li>
		<li><a href="#">Résultats</a>
			<ul>
		{% for classe in user.colleur.classes.all %}
			{% if request.session.matiere in classe.matierespk %}
				<li><a href="{% url 'resultat_colleur' classe.pk %}">{{classe.nom}}</a></li>
			{% endif %}
		{% endfor %}
			</ul>
		</li>
		<li><a href="#">Programme</a>
			<ul>
		{% for classe in user.colleur.classes.all %}
			{% if request.session.matiere in classe.matierespk %}
				<li><a href="{%  url 'programme_colleur' classe.pk %}">{{classe.nom}}</a></li>
			{% endif %}
		{% endfor %}
			</ul>
		</li>
		<li><a href="#">Colloscope</a>
			<ul>
		{% for classe in user.colleur.classes.all %}
				<li><a href="{% url 'colloscope_colleur' classe.pk %}">{{classe.nom}}</a></li>
		{% endfor %}
			</ul>
		</li>
		<li><a href="{% url 'agenda_colleur' %}">Agenda</a></li>
		<li><a href="{% url 'decompte_colleur' %}">Décompte</a></li>
		{% if user.colleur.modifgroupe %}
		<li><a href="#">Groupes</a>
			<ul>
		{% for classe in user.colleur.classeGroupes %}
			<li><a href="{% url 'groupe_colleur' classe.pk %}">{{classe.nom}}</a></li>
		{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% with user.colleur.classeprofprincipal.all as classes %}
		{% if classes %}
		<li><a href="#">Élèves</a>
			<ul>
			{% for classe in classes %}
				<li><a href="{% url 'eleves_colleur' classe.pk %}">{{classe}}</a></li>
			{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% endwith %}
		{% get_ects as ects %}
		{% if ects %}
		{% with user.colleur.ectsclasses as classes %}
		{% if classes %}
		<li><a href="#">ECTS</a>
			<ul>
			{% for classe in classes %}
				<li><a href="{% url 'ects_matieres' classe.pk %}">{{classe}}</a></li>
			{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% endwith %}
		{% endif %}
	</ul>
</div>
{% endblock %}
