{% extends 'colleur/action.html' %}
{% load static %}
{% block body %}
{% include "colleur/navdocuments.html" %}
<table class="accueil"><tr><td>Modifier un Document de {{doc.classe}} en {{doc.matiere.nom|title}}</td></tr></table>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table class="tableausimple">
{{ form.as_table }}
<tr><td colspan="2"><input type = "submit", name ="document" value = "Valider"/></td></tr>
</table>
</form>
<table class="accueil"><tr><td><a href="{% url 'colleur_autre' doc.classe.pk %}">Annuler</a></td></tr></table>
{% endblock %}