{% extends 'colleur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% include "colleur/navects.html" %}
<table class="accueil"><tr><td>Matières ECTS de {{classe}}</td></tr></table>

<table class="tableausimple" id="suppr">
	<tr class="entete" rowspan="2">
		<td rowspan="2">Nom</td>
		<td rowspan="2">Précision</td>
		<td rowspan="2">Professeur(s)</td>
		<td colspan="2">Coefficients</td>
		<td rowspan="2">Modifier</td>
		<td rowspan="2">Supprimer</td>
	</tr>
	<tr class="entete">
		<td>Semestre 1</td>
		<td>Semestre 2</td>
	</tr>
	{% for matiere in matieresECTS %}
	<tr>
		<td>{{matiere.nom|title}}</td>
		<td>{% if matiere.precision %}{{matiere.precision}}{% endif %}</td>
		<td>{% for colleur in matiere.profs.all %}{{colleur}}<br/>{% endfor%}</td>
		<td>{% if matiere.semestre1 %}{{matiere.semestre1}}{% endif %}</td>
		<td>{% if matiere.semestre2 %}{{matiere.semestre2}}{% endif %}</td>
		<td><a class="bouton" href="{% url 'ects_matiere_modif' matiere.pk %}">Modifier</a></td>
		<td><a class="bouton" href="{% url 'ects_matiere_suppr' matiere.pk %}">Supprimer</a></td>
	</tr>
	{% endfor %}
</table>

<table class="accueil"><tr><td>Ajouter une matière ECTS</td></tr></table>
<form method="POST">
{% csrf_token %}
<table class="tableausimple">
	{{ form.as_table }}
	<tr><td colspan="2"><input type="submit"/></td></tr>
</table>
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
{% endblock %}