{% extends 'colleur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% if user.colleur.classeprofprincipal.all %}
{% include "colleur/navects.html" %}
{% endif %}
<table class="accueil"><tr><td>Notes ECTS de {{classe}}</td></tr></table>
<table class="tableausimple">
	<tr>
		<td>A: Très Bien</td>
		<td>B: Bien</td>
		<td>C: Assez Bien</td>
		<td>D: Convenable</td>
		<td>E: Passable</td>
		<td>F: Insuffisant (invalide tous les crédits)</td>		
	</tr>
</table>
<form method="post">
	{% csrf_token %}
<table class="tableausimple" id="suppr">
	<tr class="entete">
		<td rowspan="2">Élève{% if form.errors %}{{form.eleve.errors}}{% endif %}</td>
		{% for matiere,nbsem in matieres|tzip:nbsemestres %}
		<td colspan="{{nbsem}}">{{matiere}}</td>
		{% endfor %}
	</tr>
	<tr class="entete">
	{% for matiere in matieres %}
		{% if matiere.semestre1 != None %}
		<td>Semestre 1</td>
		{% endif %}
		{% if matiere.semestre2 != None %}
		<td>Semestre 2</td>
		{% endif %}
	{% endfor %}	
	</tr>
	{% for notes,widget in listeNotes|tzip:form.eleve %}
	<tr>
		<td>{{widget}}</td>
		{% for note,matiere in notes|tzip:matieres %}
		{% if matiere.semestre1 != None %}
		<td>{% if note.note1 != None %}{{listNotes|lookup:note.note1}}{% endif %}</td>
		{% endif %}
		{% if matiere.semestre2 != None %}
		<td>{% if note.note2 != None %}{{listNotes|lookup:note.note2}}{% endif %}</td>
		{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
	<tr class="plusclair">
		<td><label for ="check_{{matiere.pk}}">Tout cocher</label><br/><input type="checkbox" id="check"/></td>
		{% for matiere,nbsem in matieres|tzip:nbsemestres %}
		<td colspan="{{nbsem}}"><input type="submit" value="Modifier la sélection" name="{{matiere.pk}}"/></td>
		{% endfor %}
	</tr>
</table>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/selection.js' %}"></script>
{% endblock %}