{% extends 'colleur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% get_mathjax as latex %}
{% with request.session.matiere|get_matiere as matiere %}
<table class="accueil"><tr><td>Notes de la classe {{classe}} en {{matiere}}</td></tr></table>
{% endwith %}

<table class="accueil">
	<tr>{% if classe.semestres %}
		<td><a href="{% url 'notation_colleur' classe.pk 1 %}">Notation Groupe Semestre 1</a></td>
		<td><a href="{% url 'notation_colleur' classe.pk 2 %}">Notation Groupe Semestre 2</a></td>
		{% else %}
		<td><a href="{% url 'notation_colleur' classe.pk 1 %}">Notation Groupe</a></td>
		{% endif %}
		<td><a href="{% url 'notation_colleur' classe.pk 0 %}">Notation Élève</a></td>
	</tr>
</table>

<table class="tableausimple" id="suppr">
	<tr class="entete">
		<td>Semaine</td>
		<td>Programme</td>
		<td>Date</td>
		<td>Heure</td>
		<td>Élève</td>
		<td>Note</td>
		<td>Commentaire</td>
		<td>Modifier</td>
		<td>Supprimer</td>
	</tr>
	{% for semaine, titre, detail, listeDates, nbDates in notes %}
	<tr {% cycle '' 'class="plusclair"' as couleur %} >
		<td rowspan="{{nbDates}}">{{ semaine }}</td>
		<td rowspan="{{nbDates}}">{{ titre }}{% if detail %}<div class="popup">{% if latex %}{{item.2}}{% else %}{{item.2|linebreaksbr}}{% endif %}</div>{% endif %}</td>
		{% for dateColle, listeHeures, nbHeures in listeDates %}
		{% if not forloop.first %}
	<tr {{couleur}}>
		{% endif %}
		<td rowspan="{{nbHeures}}">{{dateColle|date:"l j F"}}</td>
			{% for heure, colles, nbColles in listeHeures %}
			{% if not forloop.first %}
	<tr {{couleur}}>
			{% endif %}
		<td rowspan="{{nbColles}}">{{heure|heure}}</td>
				{% for colle in colles %}
				{% if not forloop.first %}
	<tr {{couleur}}>
				{% endif %}
		<td>{{colle.0}}</td>
		<td>{% if colle.1 == 22 %}Abs.{% elif colle.1 == 21 %}n.n.{% else %}{{colle.1}}{% endif %}</td>
		<td>{% if colle.2 %}Lire<div class="popup">{% if latex %}{{colle.2}}{% else %}{{colle.2|linebreaksbr}}{% endif %}</div>{% endif %}</td>
		<td><a href="{% url 'notemodif_colleur' colle.3 %}">Modifier</a></td>
		<td><a href="{% url 'notesuppr_colleur' colle.3 %}">Supprimer</a></td>
	</tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
</table>
{% endblock %}
{% block javascript %}
{% get_mathjax as latex %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
{% if latex %}
{% include "mathjax.html" %}
{% endif %}
{% endblock %}