{% extends 'colleur/action.html' %}
{% load static %}
{% block body %}
<form method="POST">
{% csrf_token %}
{{ formset.management_form }}
	<table class="tableausimple">
	<tr class="entete"><td colspan="5">Notation {{ classe }} en {{matiere.nomcomplet|title}}</td></tr>
	{% if formset.non_form_errors %}
	<tr><td colspan="5">{{formset.non_form_errors}}</td></tr>
	{% endif %}
	{% if form.non_field_errors %}
	<tr><td colspan="5">{{form.non_field_errors}}</td></tr>
	{% endif %}
		<tr>
			<td colspan="2">{{form.semaine.errors}}{{form.semaine.label_tag}}{{form.semaine}}</td>
			<td>{{form.jour.errors}}{{form.jour.label_tag}}{{form.jour}}</td>
			<td>{{form.heure.errors}}{{form.heure.label_tag}}{{form.heure}}</td>
			<td>{{form.rattrapee.errors}}{{form.rattrapee.label_tag}}{{form.rattrapee}}</td>
		</tr>
		<tr>
		<td colspan="5">{{form.date_colle.errors}}{{form.date_colle.label_tag}}{{form.date_colle}}</td>
		</tr>
		{% for formEleve in formset %}
		<tr>
			{% if formEleve.eleve == None %}
			<td><div>Élève fictif</div></td>
			{% else %}
			<td><div>{{formEleve.eleve}}</div>{% if formEleve.eleve.photo %}<img class="photo" alt="photo élève" src="{{ formEleve.eleve.photo.url }}"/> {% endif %}</td>
			{% endif %}
			<td>{{formEleve.note.errors}}{{formEleve.note.label_tag}}{{formEleve.note}}</td>
			<td colspan="3">{{formEleve.commentaire.errors}}{{formEleve.commentaire.label_tag}}{{formEleve.commentaire}}</td>
		</tr>
		{% endfor %}
		<tr><td colspan="5"><input type="submit"/></td></tr>
	</table>
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/rattrapage.js' %}"></script>
{% endblock %}