{% extends 'colleur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% get_mathjax as latex %}
{% with request.session.matiere|get_matiere as matiere %}
<table class="accueil"><tr><td>Notes de la classe {{classe}} en {{matiere}}</td></tr></table>
{% endwith %}
<form method="post">
	{% csrf_token %}
<table class="tableausimple">
	<tr class="entete"><td colspan="4">Élèves de {{classe.nom}}</td></tr>
	{% with form.groupe|titer as groupe_iter %}
	{% for widget in form.eleve %}
	{% if forloop.first %}
		<tr><td colspan="4">{{widget}}</td></tr>
	{% else %}
	{% cycle '0' '1' '2' '3' '4' '5' as rank silent %}
		{% if rank  == '0' or rank == '3' %}
			<tr {% if rank == '0' %}class="plusclair"{% endif%}>
				<td>{% with groupe_iter|tnext as groupe %}
						{% if groupe != None %}
							{{groupe}}
						{% endif %}
					{% endwith %}
				</td>
				<td>{{widget}}</td>
		{% elif rank == '1' or rank == '4' %}
			<td>{{widget}}</td>
		{% else %}
			<td>{{widget}}</td></tr>
		{% endif %}
	{% endif%}
	{% endfor %}
	{% endwith %}
	{% if form.errors %}
	<tr><td colspan="4">{{ form.errors.eleve }}</td></tr>
	{% endif %}
	<tr><td colspan="4"><input type="submit" value="Noter"/></td></tr>
</table>
</form>

<table class="tableausimple" id="suppr">
	<tr class="entete">
		<td>Semaine</td>
		<td>Programme</td>
		<td>Date</td>
		<td>Heure</td>
		<td>Élève</td>
		<td>Note</td>
		<td>Commentaire</td>
		<td>Modifier</td>
		<td>Supprimer</td>
	</tr>
	{% for semaine, titre, detail, listeDates, nbDates in notes %}
	<tr {% cycle '' 'class="plusclair"' as couleur %} >
		<td rowspan="{{nbDates}}">{{ semaine }}</td>
		<td rowspan="{{nbDates}}">{{ titre }}{% if detail %}<div class="popup">{% if latex %}{{item.2}}{% else %}{{item.2|linebreaksbr}}{% endif %}</div>{% endif %}</td>
		{% for dateColle, listeHeures, nbHeures in listeDates %}
		{% if not forloop.first %}
	<tr {{couleur}}>
		{% endif %}
		<td rowspan="{{nbHeures}}">{{dateColle|date:"l j F"}}</td>
			{% for heure, colles, nbColles in listeHeures %}
			{% if not forloop.first %}
	<tr {{couleur}}>
			{% endif %}
		<td rowspan="{{nbColles}}">{{heure|heure}}</td>
				{% for colle in colles %}
				{% if not forloop.first %}
	<tr {{couleur}}>
				{% endif %}
		<td>{{colle.0}}</td>
		<td>{% if colle.1 == 22 %}Abs.{% elif colle.1 == 21 %}n.n.{% else %}{{colle.1}}{% endif %}</td>
		<td>{% if colle.2 %}Lire<div class="popup">{% if latex %}{{colle.2}}{% else %}{{colle.2|linebreaksbr}}{% endif %}</div>{% endif %}</td>
		<td><a href="{% url 'notemodif_colleur' colle.3 %}">Modifier</a></td>
		<td><a href="{% url 'notesuppr_colleur' colle.3 %}">Supprimer</a></td>
	</tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
</table>
{% endblock %}
{% block javascript %}
{% get_mathjax as latex %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/groupeeleves.js' %}"></script>
{% if latex %}
{% include "mathjax.html" %}
{% endif %}
{% endblock %}