{% extends 'colleur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
<table class="accueil"><tr><td>{% if modif %}Modification{% else %}Ajout{% endif %} d'un créneau en {{matiere}}</a></td>
<form method="POST">
{% csrf_token %}
<table class="tableausimple">
{{ form.as_table }}
<tr><td colspan="2"><input type = "submit", name ="td" value = "Valider"/></td></tr>
</table>
</form>
{% endblock %}
{% block javascript %}
<input type="hidden" id="geturl" value="{% url 'colleur_maj_eleves' 0 %}">
<script type="text/javascript" src="{% static 'javascript/update_eleve.js' %}"></script>
{% endblock %}
