<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<table class="tableausimple">
		<tr>
			<th> {{ form.semaine.label_tag }} </th>
			<td colspan="4"> {{ form.semaine.errors }} {% for widget in form.semaine %} {{widget}}{% cycle '' '' '' '<br />'%}{% endfor %}</td>
		</tr>
		<tr>
			<th> {{ form.titre.label_tag }} </th>
			<td> {{ form.titre.errors }} {{form.titre}}</td>
		</tr>
		<tr>
			<th> {{ form.detail.label_tag }} </th>
			<td> {{ form.detail.errors }} {{form.detail}}</td>
		</tr>
		<tr>
			<th> {{ form.fichier.label_tag }} </th>
			<td> {{ form.fichier.errors }} {{form.fichier}}</td>
		</tr>
		<tr><td colspan="2"><input type="submit"/></td></tr>
	</table>
</form>