{% extends 'colleur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% get_mathjax as latex %}
{% if form %}
<table class="accueil"><tr><td>Ajouter un programme de colle</td></tr></table>
{% include "colleur/programmeform.html" %}
{% endif %}
<table class="accueil"><tr><td>Programmes de la classe {{classe}} en {{matiere}}</td></tr></table>
<table class="tableausimple" id="suppr">
	<tr class="entete">
		<td>Semaines</td>
		<td>Titre</td>
		<td>Détails</td>
		<td>Fichier</td>
		{% if isprof %}
		<td>Modifier</td>
		<td>Supprimer</td>
		{% endif %}
	</tr>
	{% for programme in programmes %}
	<tr>
		<td>{% for sem in programme.semaine.all %}{{sem}}{% if not forloop.last%}<br/>{% endif %}{% endfor %}</td>
		<td>{{programme.titre}}</td>
		<td class="prog_colle">{% if latex %}{{programme.detail}}{% else %}{{programme.detail|linebreaksbr}}{% endif %}</td>
		{% if programme.fichier %}
		<td style="height:200px;width:150px">{% if jpeg %}<a class="image" href="{{programme.fichier.url}}"><img src="{{programme.fichier.url|image}}" alt="mini jpeg programme"/></a>{% else %}<a href="{{programme.fichier.url}}"><img src="{% static 'images/iconePDF.png' %}" alt="icone pdf"/></a>{% endif %}</td>
		{% else %}
		<td></td>
		{% endif %}
		{% if isprof %}
		<td><a href="{% url 'programmemodif_colleur' programme.pk %}">Modifier</a></td>
		<td><a href="{% url 'programmesuppr_colleur' programme.pk %}">Supprimer</a></td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% endblock %}
{% block javascript %}
{% get_mathjax as latex %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
{% if latex %}
{% include "mathjax.html" %}
{% endif %}
{% endblock %}